<!DOCTYPE html>

<html>

<head>
    <title>Weyaka - Add Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Import CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">

    <link href="css/global.css" rel="stylesheet">
    <link href="css/addEvent-page.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h4>Add New Event</h4>
        <hr>

        <form id="add-event-form">
            <!-- Title -->
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Title">
            </div>

            <!-- Location -->
            <div class="form-group">
                <input type="text" class="form-control" name="location" placeholder="Location">
            </div>

            <!-- Date -->
            <div class="form-group">
                <input type="date" class="form-control" name="date">
            </div>

            <!-- Time -->
            <div class="form-group">
                <input type="time" class="form-control" name="time">
            </div>
        </form>

        <!-- Submit Button -->
        <a href="/digest#schedule">
            <button id="submit-event-btn" class="btn btn-primary btn-hg btn-block" onclick="showEvent()">Submit Event</button>
        </a>

        <br>
        
        <!-- Cancel button -->
        <a href="/digest#schedule">
            <button class="btn btn-inverse">Cancel</button>
        </a>
    </div>
    
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/calendar.js"></script>
</body>
</html>
