<!DOCTYPE html>

<html>
<head>
	<title>Weyaka - {{username}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Import CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/flat-ui.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
</head>

<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-embossed navbar-lg" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
				<span class="sr-only">Toggle navigation</span>
			</button>
		</div>
	</nav>

	<!-- TRAFFIC SECTION -->
	<div class="container" id="traffic">
		<div class="jumbotron">
			<h1>Traffic<h1>
		</div>
	</div>

	<hr><br>

	<!-- WEATHER SECTION -->
	<div class="container" id="weather">
		<div class="jumbotron">
			<h1>Weather<h1>
		</div>
	</div>

	<hr><br>

	<!-- NOTES SECTION -->
	<div class="container" id="notes">
		<div class="jumbotron">
			<h1>Notes<h1>
		</div>
	</div>

	<hr><br>

	<!-- SCHEDULE SECTION -->
	<div class="container" id="schedule">
		<div class="jumbotron">
			<h1>Schedule<h1>
		</div>
	</div>

  	<!-- Link Javascript -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>

</body>
</html>