<!DOCTYPE html>

<html>
<head>
	<title>Weyaka - {{username}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Import CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/flat-ui.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
	<link href="css/simple-weather.css" rel="stylesheet">
	<link href="css/calendarevent.css" rel="stylesheet">
</head>

<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
				<span class="sr-only">Toggle navigation</span>
			</button>

			<!-- Weyaka home button -->
			<a class="navbar-brand" href="/home"><span class="fui-home"></span></a>
		</div>

		<!-- Navbar contents -->
		<div class="collapse navbar-collapse" id="menu">
			<!-- Navbar links -->
			<ul class="nav navbar-nav">
				<li><a href="#traffic" class="digest-link">Traffic</a></li>
				<li><a href="#weather" class="digest-link">Weather</a></li>
				<li><a href="#notes" class="digest-link">Notes</a></li>
				<li><a href="#calendar" class="digest-link">Calendar</a></li>
				<li class="nav-divider"></li>
			</ul>

			<!-- User settings dropdown -->
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{username}}<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#settings" class="digest-link">Settings</a></li>
						<li><a href="/" class="logout-button">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>

	<!-- TRAFFIC SECTION -->
	<div class="container" id="traffic">
		<br>
		<h4>Traffic</h4>
		<hr>

		<!-- Google Map object -->
		<div id="googleMap"></div>
		<br>
		<div id="map-locate-btn"></div>
	</div>

	<!-- WEATHER SECTION -->
	<div class="container" id="weather">
		<br>
		<h4>Weather</h4>
		<hr>

		<div id="simpleWeather"></div>
	</div>

	<!-- NOTES SECTION -->
	<div class="container" id="notes">
		<br>
		<h4>Notes</h4>
		<hr>
		<p id="notespace"></p>
		<textarea id="notetext"> </textarea>
		<button id="newnotebutton" onclick="showNote()">Add New Note</button>

			<br><br>


	</div>

	<!-- CALENDAR SECTION -->
	<div class="container" id="calendar">
		<h4>Calendar</h4>
		<hr>
		
		<div class="container" id="formbegins">
			<form id="calendarform">
				New Sceduled Event Title:
				<input type="text" name="title" >
				<br>Event Location:
				<input type="text" name="location">
				<br>Event Date:
				<input type = "date" name = "date">
				<br>Event Time:
				<input type = "time">
				<br><br>
			</form>
			<div id="submitbutton">
			<button id = "calendarsubmit" onclick="showEvent()">SUBMIT</button>
			</div>

			<h5 id="googleHeader">Optional Scheduler:</h5>
			
			<div id="googleLinkDiv">
			<button id="googleLink">Login to Google Calendar</button>
			</div>

			<div class = "container" id="currenteventlist">
			<p class = "details"></p>
			</div>
		</div>
	</div>

		<!--<button id="loggedin"> Create Event</button>
		<iframe	id="googleCalendar"  src="https://www.google.com/calendar/embed?src=qqjra2o5r6j02cp33v8no2qp6c%40group.calendar.google.com&ctz=America/Los_Angeles" scrolling="no">
		</iframe>

		<div style="width:195px; text-align:center;">
  <iframe src="http://www.eventbrite.com/calendar-widget?eid=4653432542" frameborder="0" height="382" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
</div>
-->
				
	<!-- SETTINGS SECTION -->
	<div class="container" id="settings">
		<br>
		<h4>Settings</h4>
		<hr>
		<p><b>Developed by:</b><br>
			Wes Okuhara<br>
			Yashna Bowen<br>
			Kathy Hoang<br>
			<br>

			&copy 2015</p>
	</div>

  	<!-- Link Javascript -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/jquery.scrollto.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/weyaka.js"></script>
	<script src="js/calendar.js"></script>

	<!-- Google Maps API Javascript imports -->
	<script type="text/javascript"
      	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB2vaEbg0YNSzZt2WDARdb27113XOSSjo"></script>
    <script src="js/traffic.js"></script>
    <script type="text/javascript" src="js/notes.js"></script>

    <!-- Simple Weather JS imports -->
    <script src="js/jquery.simpleWeather.js"></script>
    <script src="js/moment.js"></script>

    <!-- Google Sign in -->
    <script type="text/javascript" src="https:apis.google.com/js/client.js?onload=init"></script>
<script type="text/javascript" src="https://addthisevent.com/libs/1.5.8/ate.min.js"></script>
</body>
</html>