<!DOCTYPE html>

<html>
<head>
	<title>Weyaka - Help and Settings</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Import CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/flat-ui.css" rel="stylesheet">

	<link href="css/global.css" rel="stylesheet">
	<link href="css/flaticon.css" rel="stylesheet">
   
</head>

<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
				<span class="sr-only">Toggle navigation</span>
			</button>

			<!-- Weyaka home button -->
			<a class="navbar-brand" href="/home">
				<span class="glyphicon glyphicon-home"></span>
			</a>

			<div>
				<ul class="nav navbar-nav">
					<li>
						<a class="navbar-brand" href="/digest#traffic"><span class="glyphicon glyphicon-road"></span></a>
					</li>

					<li>
						<a class="navbar-brand" href="/digest#weather"><span class="glyphicon glyphicon-cloud"></span></a>
					</li>

					<li>
						<a class="navbar-brand" href="/digest#notes"><span class="glyphicon glyphicon-pencil"></span></a>
					</li>

					<li>
						<a class="navbar-brand" href="/digest#schedule"><span class="glyphicon glyphicon-list-alt"></span></a>
					</li>
				</ul>
			</div>

		</div>

		<!-- Navbar contents -->
		<div class="collapse navbar-collapse" id="menu">
			<!-- User settings -->
			<ul class="nav navbar-nav navbar-right user-settings">
				<li><a href="/" class="logout-button">Logout</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h4>Help and Settings</h4>

		<p>
			<b>Developed by:</b><br>
			Wes Okuhara<br>
			Yashna Bowen<br>
			Kathy Hoang<br>
			<br>

			2015
		</p>
	</div>

	<!-- Link Javascript -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/weyaka.js"></script>

</body>
</html>