<!DOCTYPE html>

<html>
<head>
	<title>Weyaka - {{username}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Import CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/flat-ui.css" rel="stylesheet">
	<link href="css/global.css" rel="stylesheet">
   
</head>

<body>
	<div class="container">
		<!-- NAVBAR -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
				</button>

				<a class="navbar-brand" href="/home">Weyaka</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="fui-gear"></a></li>
					<li><a href="#" class="fui-power"></a></li>
				</ul>
			</div>
		</nav>

		<!-- TOP ROW -->
		<div class="row">
			<!-- TRAFFIC -->
			<div class="icon">
				<a href="digest#traffic">
					<img src="images/home/mapGreen.png" 
					class="img-responsive">
					<!-- could be mapRed or mapYellow -->
				</a>
			</div>

			<!-- WEATHER -->
			<div class="icon">
				<a href="digest#weather">
					<img src="images/home/weather.png" 
					class="img-responsive">
				</a>
			</div>
		</div>

		<!-- BOTTOM ROW -->
		<div class="row">
			<!-- NOTES -->
			<div class="icon">
				<a href="digest#notes">
					<img src="images/home/notes.png" 
					class="img-responsive">
				</a>
			</div>

			<!-- SCHEDULE -->
			<div class="icon">
				<a href="digest#schedule">
					<img src="images/home/schedule.png" 
					class="img-responsive">
				</a>
			</div>
		</div>

	</div>

  	<!-- Link Javascript -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/weyaka.js"></script>

</body>
</html>