<html>

<head>
    <title> Add Note</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Import CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link href="css/notes.css" rel="stylesheet">
   
</head>
<body>
<div class="container">
        <h4>Add New Note</h4>
        <hr>
        <p id="notespace">  </p>
        <textarea id="notetext"> </textarea>
      


       <div id="notebuttondiv">
        <a href="/digest#notes">
            <button id="newnotebutton" class = "btn btn-inverse btn-block" onclick="showNote()">Add New Note</button>
        </a>
    </div>
</div>

        <script src="/js/notes.js"></script>
</body>
</html>
