
<html>

<head>Weyaka Test</head>
<body>

<script type="text/javascript">
var authorizationUrlBase = 'https://accounts.google.com/o/oauth2/auth';
  var redirect = 'https://www.google.com/calendar/render';
  var clientId = '897711787704-b216oehakuqv5r87dt52numvl5jsjkst.apps.googleusercontent.com';
  var apiKey = "ciJJ6r_ra-YH_Rz-1doHmGEA";
  var scopes = 'https://www.googleapis.com/auth/calendar';
	var url = authorizationUrlBase;
	url += '?response_type=token'
		+ '&redirect_uri='+encodeURIComponent(redirect)
		+ '&client_id=' +encodeURIComponent(clientId)
		+ '&scope=' + encodeURIComponent(scopes);



function handleClientLoad() {
  gapi.client.setApiKey(apiKey);
  window.setTimeout(checkAuth,1);
}

#authorize-button.click(function checkAuth() {
  gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true}, handleAuthResult);
});

function handleAuthResult(authResult) {
  var authorizeButton = document.getElementById('authorize-button');
  if (authResult && !authResult.error) {
    authorizeButton.style.visibility = 'hidden';
    makeApiCall();
  } else {
    authorizeButton.style.visibility = '';
    authorizeButton.onclick = handleAuthClick;
  }
}

function handleAuthClick(event) {
  gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
  return false;
}


function makeApiCall() {
  gapi.client.load('calendar', 'v3').then(function() {
   console.log("hehehehe loaded");
}


</script>

<button id ="authorize-button" onclick="checkAuth()"> Here</button>

<script type="text/javascript" src="https:apis.google.com/js/client.js?onload=init"></script>

</body>
</html>