#currenteventlist
{
	overflow:scroll;
	box-shadow: 10px, 10px 10px 10px;
	height: 50%;
	width: 100%;
  overflow:scroll;
}

#calendar
{
  padding-bottom: 1%;
}
#calendarform
{
  height: 100%;
}

#formbegins
{ padding-top: 0%;
  padding-bottom: 0%;
  height: 55%;
}


form 
{
  max-width:90%;
  margin:2px auto;
  box-shadow:0 4px 4px 4px #888888;
 color:$white;
 height: 10%;
}


#details
{
  width: 100%;
	font-size: 10px;
  float: left;
  text-align: left;
}

input, textarea {
  font-size:12px;
  width:100%;
  border:1px solid, gray;
  font-family : "typewriter";
}

#submitbutton
{
  float: left;
	padding-top:1%;
	position: center;
  margin-left: 25%;
  width: 50%;
}
#calendarsubmit
{
   border-radius:1px;
   float:left;
  font-size:1rem;
  text-transform:uppercase;
  letter-spacing:.1em;
  vertical-align: text-bottom;
}


#googleHeader
{
	float: left;
	width: 25%;

}

#googleLinkDiv
{
  vertical-align: bottom;
	padding-top: 8%;
  margin-left: 25%;
  width:30%;
}

#googleLink
{
  padding-top: 2%;
  width: 60%;
	border-radius:1px;
  font-size:1rem;
  text-transform:uppercase;
  letter-spacing:.1em;
  padding-top: 2px;
  margin-left: 55%;
}

#addbutton
{
  float: left;
  padding-top:1%;
  position: center;
  margin-left: 25%;
  width: 50%;
}