/**
 * digest-page.css
 * Custom styling for digest page
 * 
 * Weyaka
 * Wes Okuhara, Yashna Bowen, Kathy Hoang
 */

/***** TRAFFIC SECTION *****/
#googleMap {
    width: 90%; /* fill 85% width of static container for scrolling */
    height: 450px; 
    border-radius: 10px;
}

#address-input, #geocode-btn {
    max-width: 65%;
    float: left;
    padding-bottom: 10px;
    padding-right: 5px;
}

#map-refresh-btn button {
    float: right;
}

/* Paragraphs for weather and map api objects
 * to be used when geolocation is disabled */
.noLocationError {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 25px;
    background: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 10px;
}

#route-eta {
    font-size: 22px;
}



/****** NOTES & SCHEDULE SECTION *****/
#notes-list, #events-list {
    padding: 25px;
    height: 60%;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
}

#details-field {
    height: 100px;
}

#add-note-btn, #add-event-btn {
    float: right;  
}

#googleLink {
    margin-top: 15px;
}