/**
 * digest-page.css
 * Custom styling for digest page
 * 
 * Weyaka
 * Wes Okuhara, Yashna Bowen, Kathy Hoang
 */

/* Spacing on the header for scrolling */
h4 {
    padding-top: 30px;
}


/***** TRAFFIC SECTION *****/
#googleMap {
    width: 85%; /* fill 85% width of static container for scrolling */
    height: 350px; 
    border-radius: 10px;
}

#address-input, #geocode-btn {
    float: left;
    padding-bottom: 10px;
}

#address-input {
    padding-right: 10px;
    width: 70%;
}

/* Paragraphs for weather and map api objects
 * to be used when geolocation is disabled */
.noLocationError {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 25px;
    background: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 10px;
}



/****** SCHEDULE SECTION *****/ 
/* Formatting for list of events */
#event-list {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    height: 60%;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow:auto;
}

#event-list hr {
    border-color: rgba(52,73,94,0.8);
}
