/**
 * global.css
 * Styling for all pages
 * 
 * Weyaka
 * Wes Okuhara, Yashna Bowen, Kathy Hoang
 */

/***** GLOBAL *****/
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #D8EBE7;
} 

.jumbotron {
    background-color: #edeff1;
    text-align: center;
}

.container {
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 540px;
    height: 100%;
}

.nav {
    padding-right: 4%;
}

.nav li {
    height: 45px;
}

/***** LOGIN *****/
#login-body {
    background-color: #1abc9c;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

/***** HOME *****/
.icon {
    padding: 4%;
    width: 50%;
    float: left;
}

/***** TRAFFIC *****/
#googleMap {
    height: 50%;
    border-radius: 10px;
}