/**
 * global.css
 * Custom styling for all pages
 * 
 * Weyaka
 * Wes Okuhara, Yashna Bowen, Kathy Hoang
 */

/***** GLOBAL *****/
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    height: 100%;
} 

hr {
    border-top: 2px solid #334245;
    border-radius: 10px;
}

.jumbotron {
    background-color: #edeff1;
    text-align: center;
}

.container {
    padding-top: 60px;
    padding-bottom: 115px;
    max-width: 540px;
    height: 800px;
}


/***** NAVBAR STYLING *****/
.navbar-default{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #4d6889;
}

/* Change color of digest links on navbar */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-toggle:before {
    color: #ffffff;
}

.navbar-toggle {
    padding-left: 0;
}

.navbar-default .navbar-brand {
    text-align: center;
    color: #ffffff;
}

/* Increase font size of links */
.user-settings li a{
    text-align: right;
    font-size: 18px;
    color: #334245;
}

/* Mobile view settings */
@media (max-width: 767px) {

    /* Lower the right padding of the home button */
    .navbar-brand {
        padding-right: 20px;
    }

    /* Increase padding of user settings dropdown */
    .user-settings li a {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    /* To make sure all digest links on navbar fit */
    .navbar-nav > li > a {
        padding: 17px 3.2%;
    }
}

/* DESKTOP view settings */
@media (min-width: 768px) {
    /* Increase header width so icons do not overflow */
    .navbar-header {
        width: 60%;
    }

    /* Increase padding for User settings dropdown */
    .navbar-right {
        padding-right: 25px;
    }
}