/**
 * home-page.css
 * Custom styling for home page
 * 
 * Weyaka
 * Wes Okuhara, Yashna Bowen, Kathy Hoang
 */

/******** HOME PAGE  ********/
/* Set the height of the homepage */
.container {
    padding-top: 120px; /* padding for the homescreen container */
    height: 500px;
}

/* Weyaka logo */
.navbar-brand { 
    padding-top: 14px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato/lato-light.eot');
    src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/lato/lato-light.woff') format('woff'), 
    url('../fonts/lato/lato-light.ttf') format('truetype'), 
    url('../fonts/lato/lato-light.svg#latolight') format('svg');
}

/* When the weyaka Logo is hovered on the home page, change
the font color */
.navbar-inverse .navbar-header > a:hover,
.navbar-inverse .navbar-header > a:focus {
    color: #003557;
}

/* each individual icon */
.icon {
    padding: 1px;
    width: 50%; /* fill half width of static container */
    float: left;
    position: relative;
}


/* Text styling for the home page */
#simpleWeatherHome, #notecountHome, #schedulecountHome, #traffic-home{
    padding-left: 10%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #ECF0F1;
    position: absolute;
    float: left;
}

/* Color of the weather icon */
i {
    color: #ECF0F1;
}

/** Padding for the top of the ban circle */
#simpleWeatherHome .glyphicon-ban-circle,
#traffic-home .glyphicon-ban-circle  {
    padding-top: 25%;
}

#notecountHome, #schedulecountHome {
    padding-top: 12%;
}

#traffic-home h4 {
    padding-top: 30px;
}

/* MOBILE VIEW FONT SIZES SCALE WITH SCREEN WIDTH */
@media (max-width: 720px) {

    #traffic-home h2 {
        margin: 0;
        font-size: 7vw;
    } 
    #traffic-home h4 {
        font-size: 4.5vw;
    }
    
    #simpleWeatherHome h2 {
        margin-top: 20px;
        font-size: 11vw;
    }

    i {
        font-size: 16vw;
    }

    /* Styling for the glyphicon ban-icon */
    #simpleWeatherHome .glyphicon-ban-circle,
    #traffic-home .glyphicon-ban-circle {
        font-size: 14vw;
    }

    #simpleWeatherHome p,
    #traffic-home p {
        font-size: 4vw;
    }

    /* Scaling font size of note details */
    #notecountHome h2 {
        font-size: 9vw;
    }

    #schedulecountHome h4 {
        margin: 0;
        font-size: 5vw;
    }

    #schedulecountHome p {
        font-size: 5vw;
    }
}

/* Static font sizes for DESKTOP view */
@media (min-width: 721px) {
    #simpleWeatherHome h2 {
        font-size: 75px;
    }

    #traffic-home h2 {
        font-size: 50px;
    }

    i {
        font-size: 100px;
    }

    #simpleWeatherHome .glyphicon-ban-circle,
    #traffic-home .glyphicon-ban-circle {
        font-size: 105px;
    }

    #simpleWeatherHome p,
    #traffic-home p  {
        font-size: 25px;
    }

    /* Scaling font size of note details */
    #notecountHome h2 {
        font-size: 65px;
    }

    #schedulecountHome h4 {
        font-size: 30px;
    }

    #schedulecountHome p {
        font-size: 20px;
    }
}