/**
 * home-page.css
 * Custom styling for home page
 * 
 * Weyaka
 * Wes Okuhara, Yashna Bowen, Kathy Hoang
 */

/******** HOME PAGE  ********/

/* Set the height of the homepage */
.container {
    padding-top: 85px;
    height: 500px;
}

.icon {
    padding: 10px;
    width: 50%; /* fill half width of static container */
    float: left;
    position: relative;
}

/* Styling for the temperature on the weather icon f*/
.weather-icon div {
    position: absolute; /* the position of the temperature is fixed */
    float: left;
}



.schedule-icon div {
    position: absolute; /* the position of the temperature is fixed */
    float: left;
}



.note-icon div {
    position: absolute; /* the position of the temperature is fixed */
    float: left;
}

#simpleWeatherHome {
    padding-left: 7%;
    width: 90%;
    margin: 0 auto;
}

/* styling for the temperature text on the weather icon */
#simpleWeatherHome h2 {
    text-align: center;
    font-size: 11vmin;
    color: #34495e;
}

i {
    font-size: 16vmin;
}

/* Styling for the glyphicon ban-icon */
#simpleWeatherHome .glyphicon {
    font-size: 11vmin;
}

#notecountHome
{
    
    padding-top: 10%;
    padding-left: 7%;
    width: 90%;
    margin: 0 auto;


}
#notecountHome h2
{
    text-align: center;
    font-size: 8vmin;
    color: #34495e;
}


#schedulecountHome
{

    padding-top: 10%;
    padding-left: 7%;
    width: 90%;
    margin: 0 auto;

}

#schedulecountHome p
{

    text-align: center;
    font-size: 3.5vmin;
    color: #34495e;
}


#schedulecountHome h4
{

    text-align: center;
    font-size: 4vmin;
    color: #34495e;

}

